.direnv/
minilibx-linux/
minilibx_opengl_20191021/
minilibx-linux.tgz
minilibx_opengl.tgz
.cache/
minirt
obj/
compile_commands.json
images/
play/
archive/
Makefile.2
xpms/xpm-archive
scene.ppm


core
playground/chat
playground/immitate_oop
.DS_Store
